<div class="question animated fadeIn">
    <h3>Summary of information to review</h3>
    <p>${{income}}
         Monthly Income</p>
    <p>Monthly Rent: $
        {{rent}}
    </p>
    <p>Zipcode:
        {{zip}}
    </p>
    <p> State of Employment: {{state}}</p>
<p>{{roommate}} Roommate(s)</p>
</div>